
<style>

    .Forms {
        width: 300px;
        height: 300px;
        padding: 15px;
        background-color: aqua;
        box-shadow: 10px 10px 5px grey;
        margin-left:400px;
        margin-top:200px;
    }
</style>

<div class="Forms w3-mobile">
    <form id="Check" method="post">
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input id="Email" type="email" class="form-control" name="Email" placeholder="Password">
        </div>
        @if (ViewBag.validatemail != "Your Acc is ready to use with new password")
        {
            <p style="color:red">@ViewBag.validatemail</p>
        }
        @if (ViewBag.validatemail == "Your Acc is ready to use with new password")
        {
            <p style="color:lawngreen">@ViewBag.validatemail</p>
        }
        <p id="Verify" style="color:orangered"></p>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" class="form-control" id="Password" name="password" placeholder="Password" required>
        </div>
        <p id="Passwords" style="color:orangered"></p>
        <button class="btn btn-primary">Submit</button>
    </form>

    </div>
<script>
  
</script>
